{
  "ignorePatterns": ["**/*.js"],
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
  ],
  "plugins": ["prettier", "import", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": false,
        "bracketSpacing": true,
        "endOfLine": "auto",
      },
    ],
    "import/extensions": [
      "error",
      {
        "js": "always",
      },
    ],
    "import/no-unresolved": ["off"],
    "@typescript-eslint/no-explicit-any": "off",
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "no-console": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "eqeqeq": "off",
    "func-names": "off",
    "no-else-return": "off",
    "no-unsafe-optional-chaining": "off",
    "no-await-in-loop": "off",
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
      },
    },
  },
}
