/* StartPage.css */
.start-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 4vw; 
  background-color: #fff; 
  color: #000; 
  box-sizing: border-box; 
}

/* Style for brief intro to page */
.about {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h1 {
  font-size: 36px; 
  margin-bottom: 20px;
}

.about p {
  font-size: 18px; 
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Styling for get started button */
.get-started {
  padding: 10px 18px;
  background-color: transparent;
  border: 1px solid rgb(0, 255, 170); 
  color: #000; 
  cursor: pointer;
  font-size: 16px; 
  transition: background-color 0.3s, color 0.3s; 
}

.get-started:hover {
  background-color: rgb(0, 255, 170); 
  color: #000; 
}

/* Styling the right acronym*/
.acronym {
  width: 50%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-left: 10%; 
}

.acronym {
  margin-bottom: 5vw; 
  text-align: center; 
}

.acronym h2 {
  font-size: 1rem; 
  margin-bottom: 1rem; 
}

.acronym h2 strong {
  color: rgb(0, 255, 170); 
  font-size: 2rem; 
}

.acronym p {
  font-size: 1rem; 
  color: #666; 
}

/* Responsiveness */
@media (max-width: 768px) {
  .start-page {
    flex-direction: column;
    text-align: center;
    padding: 10vw; 
  }

  .about-studio, .numerical-highlights {
    width: 100%; 
    padding-left: 0; 
  }

  .highlight {
    width: 50%; 
    margin-bottom: 10vw;
  }

}