
#submit
{
	margin: 10px;
	width: 150px;
	height: 40px;
	background-color: rgb(0, 255, 170);
	border-radius: 10px;
	border: none;
}
#submit:hover 
{
	background-color: rgb(0, 255, 0);
}
#login:hover
{
	background-color: rgb(0, 255, 0);
}
#login
{
	margin: 10px;
	width: 150px;
	height: 40px;
	background-color: rgb(0, 255, 170);
	border-radius: 10px;
	border: none;
}
span
{
	color: red;
	width: fit-content;
	display: none;
	font-size: 12px;
}
input:invalid[focused="true"]
{
	border: 1px solid red;
}
input:invalid[focused="true"] + span
{
	display: block;
}



