#loginWrapper[visible="login"]
{
	display: block;
}
#loginWrapper[visible="register"]
{
	display: none;
}
#registrationWrapper[visible="register"]
{
	display:block;
}
#registrationWrapper[visible="login"]
{
	display: none;
}